<div class="back-inicio pt-3" >
    <div class="d-flex estructura" >
        <img class="pb-3 size-logo" src="../../../assets/images/LogoFinal.svg" alt="">
        <h2 class="text-white">Iniciar sesión</h2>
        <img src="../../../assets/images/inicioSesionClientes.svg" alt="">
        <form [formGroup]="formularioInicioSesion" (submit)="iniciarSesion()">
            <div class="mb-2">
                <input formControlName="correo" class="form-control mt-4 input-inicio" type="text" placeholder="Correo" aria-label="default input example" required>
            </div>
            <div class="mb-2">
                <input formControlName="contrasenia" class="form-control mt-3 input-inicio" type="password" placeholder="Contraseña" aria-label="default input example"> 
            </div>

            <button type="submit" [disabled]="formularioInicioSesion.invalid" class="btn btn-primary mt-3 boton-inicio-sesion">Acceder</button>
        </form>

        <div (click)="registrarse()" class="text-registrarse mt-3">
            <span class="text-white" >¿No tienes cuenta?</span>
            <span class="text-blue"> Regístrate ahora</span>
        </div>
          
    </div>
</div>


<ng-template #modalResultadoInicioSesion let-modal>
    <div class="modal-body">
        <img class="close-modal" style="margin-left: 90%; height: 25px;
        width: 25px;" (click)="modal.dismiss('Cross click')" src="../../../assets/images/xmark-solid.svg">
        <div class="container-fluid">
            <div class="row" style="text-align:center">
                <img style="margin:auto" class="" src={{rutaLogoModal}}>
            </div>
        </div>
       
        <h2 class="titulo-modal">{{textoModal}}</h2>
        <div class="contenedor-botones">
            <button  id="boton-aceptar" (click)="aceptar()" type="button" class="btn btn-primary" >Aceptar</button>
        </div>
    </div>
</ng-template>



