<app-encabezado></app-encabezado>
<div class="container componente-compra">
    <div class="row">
        <div class="col">
            <img (click)="irAtras();" class="svg-atras" src="../../../assets/images/atras.svg">
            <span (click)="irAtras();" class="categoria-atras">Mis Compras</span>
        </div>
    </div>
    <div class="row">
        <span class="titulo-ubicacion">Orden no. {{ordenActual.numOrden}}</span>
    </div>
   
    <div class="div-detalle-compra">
        <div class="card my-cards">
            <div class="card-body my-card-body">
                <div class="row" *ngFor="let producto of productos" >
                    <div class="col-8 columnas-cards" style="text-align-last: left;">
                        <p class="letras-producto" style="margin-top:8px; margin-left: 15px; ">{{producto.producto.nombre}} ({{producto.unidades}})</p>
                    </div>
                    <div class="col-4 columnas-cards">
                        <p class="letras-precio" style="margin-top:8px;">L. {{producto.producto.precio}}</p>
                    </div>
                    <div class="col-2 columnas-cards">
                       
                    </div> 
                </div>
                <div class="row">
                    <div class="col-8 columnas-cards" style="text-align-last: left;">
                        <p class="letras-producto letras-producto-isv" style="margin-top:8px; margin-left: 15px; ">ISV</p>
                    </div>
                    <div class="col-4 columnas-cards">
                        <p class="letras-precio" style="margin-top:8px;">{{ordenActual.isv}}</p>
                    </div>
                    <div class="col-2 columnas-cards">
                       
                    </div> 
                </div>
                <div class="row">
                    <div class="col-8 columnas-cards" style="text-align-last: left;">
                        <p class="letras-producto letras-producto-isv" style="margin-top:8px; margin-left: 15px; ">Envío</p>
                    </div>
                    <div class="col-4 columnas-cards">
                        <p class="letras-precio" style="margin-top:8px;">L.{{ordenActual.envio}}</p>
                    </div>
                    <div class="col-2 columnas-cards">
                       
                    </div> 
                </div>
                <hr class="hr">
                <div class="row">
                    <div class="col-8 columnas-cards" style="text-align-last: left;">
                        <p class="letras-producto" style="margin-top:8px; margin-left: 15px; color: #00887A">Total</p>
                    </div>
                    <div class="col-4 columnas-cards">
                        <p class="letras-precio" style="margin-top:8px;">L. {{ordenActual.subtotal+ordenActual.envio+ordenActual.isv}}</p>
                    </div>
                    <div class="col-2 columnas-cards">
                       
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>