<app-encabezado></app-encabezado>
<div class="container-fluclass" style="width: 90%;
margin-left: auto; margin-right: auto; margin-bottom: 70px;">
    <div class="row">
        <h1 class="titulo-categorias" style="margin-top:20px">Hola {{usuarioActual?.nombre}} {{usuarioActual?.apellido}}</h1>
        <br><br>
        <h1 class="titulo-categorias" style="margin-top:40px">Popular - Categorias</h1>
    </div>
    <div class="row" style="margin-top:35px">
        <div class="col-6">
            <div class="card my-cards" (click)="verEmpresas(categoria)" *ngFor="let categoria of categorias.slice(0,6)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="{{categoria.imagen}}" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">{{categoria.nombre}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card my-cards" (click)="verEmpresas(categoria)" *ngFor="let categoria of categorias.slice(6,12)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="{{categoria.imagen}}" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">{{categoria.nombre}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>