<app-encabezado></app-encabezado>
<div class="container-fluclass" style="width: 90%;
margin-left: auto; margin-right: auto; margin-bottom: 70px;">
    <div class="row">
        <h1 class="titulo-categorias" style="margin-top:20px">Hola Gabriela</h1>
        <br><br>
        <h1 class="titulo-categorias" style="margin-top:40px">Popular - Categorias</h1>
    </div>
    <div class="row" style="margin-top:35px">
        <div class="col-6">
            <div class="card my-cards" (click)="verEmpresas(1)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/restaurant-plate-svgrepo-com (1).svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Restaurantes</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(2)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/supermarket-svgrepo-com.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Supermercados</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(3)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/juice-drink-beverage-water-svgrepo-com.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Bebidas</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(4)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/medicine-svgrepo-com (1).svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Salud</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(5)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/hand-mirror-beauty-svgrepo-com (1).svg">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Belleza</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(5)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/home-house-svgrepo-com (1).svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Hogar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card my-cards" (click)="verEmpresas(1)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/gift-svgrepo-com (1).svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Regalos</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(6)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/usb-technology-svgrepo-com.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Tecnología</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(7)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/high-heel-fashion-svgrepo-com.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Moda</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(8)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/fridge-svgrepo-com (2).svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Electrodomésticos</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(9)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/paper-clip-svgrepo-com (1).svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Papelería</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(10)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/car-toy-toy-svgrepo-com.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Juguetes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>