<div class="container-fluclass" style="width: 90%;
margin-left: auto; margin-right: auto; margin-bottom: 70px;">
    <div class="row">
        <h1 class="titulo-categorias" style="margin-top:20px">Hola Gabriela</h1>
        <br><br>
        <h1 class="titulo-categorias" style="margin-top:40px">Popular - Categorias</h1>
    </div>
    <div class="row" style="margin-top:35px">
        <div class="col-6">
            <div class="card my-cards" (click)="verEmpresas(1)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/toys_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Juguetes</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(2)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/house_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Hogar</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(3)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/electrical_services_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Electrodomésticos</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(4)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/electrical_services_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Electrodomésticos</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(5)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/face_retouching_natural_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Belleza</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card my-cards" (click)="verEmpresas(6)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/Vector.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Tecnología</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(7)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/checkroom_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Moda</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(8)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/face_retouching_natural_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Belleza</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(9)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/face_retouching_natural_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Belleza</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verEmpresas(10)">
                <div class="card-body my-card-body">
                    <div class="iconos-cards">
                        <img src="../../../assets/images/face_retouching_natural_black_24dp 2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Belleza</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>