<app-encabezado></app-encabezado>
<div class="contenedor-carrito" *ngIf="areaVisible == 'carrito-productos'" style="height:100%;">
    <div class="container">
        <div class="row" style="padding-top: 4%;" *ngFor="let j of productosCarrito;"> 
            <div class="col-3 contenedor-imagenes">
                <img src="{{j.producto.imagen}}" class="imagen-producto-carrito">
            </div>
            <div class="col-9 contenedor-texto">
                <div class="row">
                    <p class="textos-carrito nombre-producto" style="width: 80%;">{{j.producto.nombre}}</p>
                    <fa-icon class="icons svg-eliminar-producto" [icon]="faXmark" (click)="eliminarProducto(j)"></fa-icon>
                </div>
                <div class="row" style="position: relative; bottom: 7%;">
                    <p class="textos-carrito texto-establecimiento" style="    margin-top: 10px;">{{j.producto.empresa.nombre}}</p>
                </div>
                <div class="row" style="position: relative; bottom: 13%;"> 
                    <p class="textos-carrito texto-descripcion">
                        {{j.producto.descripcion}}
                    </p>
                </div>
                <div class="row" style="position: relative; bottom: 20%;">
                    <span class="textos-carrito cantidad-producto" style="margin-right: 3%">Unidades: {{j.unidades}}</span>
                    <span class="textos-carrito precio">Lps. {{j.producto.precio}} c/u</span>
                </div>
            </div>
            <hr class="hr">
        </div>
    </div>
    <div class="container" style="padding-right: 25px; padding-left:15px; padding-top: 15px;">
        <div class="row detalles-factura">
            <div class="col-8">
                <span class="especificaciones subtotal-carrito">Subtotal</span>
            </div>
            <div class="col-4"> 
                <span class="costos">Lps.{{subtotal}}</span>
            </div>
        </div>
        <div class="row detalles-factura">
            <div class="col-8"> 
                <span class="especificaciones isv">ISV</span></div>
            <div class="col-4">
                <span class="costos">Lps.{{isv}}</span>
            </div>
        </div>
        <div class="row detalles-factura">
            <div class="col-8">
                <span class="especificaciones comision">Comisión</span></div>
            <div class="col-4">
                <span class="costos">Lps.{{comision}}</span>
            </div>
            <hr class="horizontal-row">
        </div>
     
        <div class="row detalles-factura">
            <div class="col-8">
                <span class="especificaciones total">Total</span>
            </div>
            <div class="col-4">
                <span class="costos" style="font-weight: 700;">Lps.{{total}}</span>
            </div>
        </div>
    </div>
    <div class="contenedor-boton-checkout" style="margin-bottom:150px;">  
        <button type="button" class="btn btn-primary boton-checkout" (click)= "checkout();">Checkout</button>    
    </div>
</div>


<div class="contenedor-carrito" *ngIf="areaVisible == 'carrito-vacio'">
    <div class="container">
        <div class="row" style="padding-top: 4%;     height: 100vh;"> 
            <div class="col-12 contenedor-carrito-vacio">
                <img src="../../../assets/images/Group 3 (1).svg" class="imagen-carrito-vacio">
            </div>
        </div>
    </div>
</div>
           
<app-footer></app-footer>
