<div id="seccion1">
    <div class="container-fluid">
        <div class="row" id="seccion1-elementos">
            <div class="col-8" id="seccion1-texto">
                <h1 id="titulo-gala">Con Gala, tus deseos son órdenes</h1>
                <h2 id="slogan-gala">Pide lo que necesites desde la comodidad en donde estes. </h2>
                <img src="../../../assets/images/iconos.svg" id="iconos">
            </div>
            <div class="col-4" >
            </div>
            <img src="../../../assets/images/niño-gala.svg" id="niño-gala-seccion1">
        </div>
    </div>      
<div>
<div id="seccion2">
    <div id="seccion2-titlo">
        ¡Pide todo en un solo lugar!
    </div>
    <div id="seccion2-caracteristicas">
        <div><img style="margin-top: 20px;" src="../../../assets/images/Carac1.svg"><br><br>Entregamos lo<br>más rápido<br>posible</div>
        <div><img style="margin-top: 20px;" src="../../../assets/images/Carac2.svg"><br><br>Monitorea tu<br> orden de<br>principio a fin.</div>
        <div><img style="margin-top: 20px;" src="../../../assets/images/Carac3.svg"><br><br>!Encuentras de<br>todo!<br><br></div>
    </div>
</div>
<div id="seccion3">
    <div id="div-pasos-uso">
        <img style="margin-top:17%" src="../../../assets/images/Pasos-CómoFunciona.svg">
    </div>
</div>
<div id="seccion4">
    <div id="invitacion-clientes">
        <h2 id="seccion4-titulo">Empieza a hacer tus<br>pedidos con nosotros.</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="container-fluid">
                        <div class="row">
                            <p style="padding-top: 20px;" class="texto-seccion4">¿Ya tienes una cuenta?</p>
                            <button type="button" class="btn btn-primary botones-seccion4">Inicia Sesión</button>
                        </div>
                        <div class="row">
                            <p style="padding-top: 25px;" class="texto-seccion4">O si no crea una</p>
                            <button type="button" class="btn btn-primary botones-seccion4">Regístrate</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img style="margin-top: 55px;" src="../../../assets/images/IconoRegistrarse.svg">
                </div>
            </div>
        </div>
    </div>
</div>