<div id="seccion1">
    <div class="container-fluid" id="seccion1-elementos">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-8" id="seccion1-texto">
                <img id="logo-header" src="../../../assets/images/LogoFinal.svg">
                <h1 id="titulo-gala">Con Gala, tus deseos son órdenes</h1>
                <h2 id="slogan-gala">Pide lo que necesites desde la comodidad en donde estes. </h2>
                <img src="../../../assets/images/iconos.svg" id="iconos">
            </div>
            <div class="col-4" >
                <img id="menu-navbar" (click)="abrirModal(modalOpcionesMenu)" src="../../../assets/images/MenuNavbar.svg">
            </div>
            <img src="../../../assets/images/niño-gala.svg" id="niño-gala-seccion1">
        </div>
    </div>      
<div>
<div id="seccion2">
    <div id="seccion2-titlo">
        ¡Pide todo en un solo lugar!
    </div>
    <div id="seccion2-caracteristicas">
        <div><img style="margin-top: 20px;" src="../../../assets/images/Carac1.svg"><br><br>Entregamos lo<br>más rápido<br>posible</div>
        <div><img style="margin-top: 20px;" src="../../../assets/images/Carac2.svg"><br><br>Monitorea tu<br> orden de<br>principio a fin.</div>
        <div><img style="margin-top: 20px;" src="../../../assets/images/Carac3.svg"><br><br>!Encuentras de<br>todo!<br><br></div>
    </div>
</div>
<div id="seccion3">
    <div id="div-pasos-uso">
        <img style="margin-top:19%" src="../../../assets/images/Pasos-CómoFunciona.svg">
    </div>
</div>
<div id="seccion4">
    <div id="invitacion-clientes">
        <h2 id="seccion4-titulo">Empieza a hacer tus<br>pedidos con nosotros.</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="container-fluid">
                        <div class="row">
                            <p style="padding-top: 20px;" class="texto-seccion4">¿Ya tienes una cuenta?</p>
                            <button type="button" (click)="verInicioSesion()" class="btn btn-primary botones-seccion4">Inicia Sesión</button>
                        </div>
                        <div class="row">
                            <p style="padding-top: 25px;" class="texto-seccion4">O si no crea una</p>
                            <button type="button" (click)="verRegistroClientes()" class="btn btn-primary botones-seccion4">Regístrate</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img style="margin-top: 55px;" src="../../../assets/images/IconoRegistrarse.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="seccion5">
    <div id="negocios-afiliados" id="seccion5-titulo">
        Conoce algunos de nuestros<br>negocios afiliados.
    </div>
    <div id="contenedor-marcas" >
        <div class="">
            <div class="row">
                <div class="col-4">
                    <div class="card marcas-asociadas">
                        <img src="../../../assets/images/logo1.svg" class="card marcas-asociadas-img-top" alt="logo1">
                    </div>
                </div>
                <div class="col-4">
                    <div class="card marcas-asociadas">
                        <img src="../../../assets/images/logo2.svg" class="card marcas-asociadas-img-top" alt="logo2">
                    </div>
                </div>
                <div class="col-4">
                    <div class="card marcas-asociadas">
                        <img src="../../../assets/images/logo1.svg" class="card marcas-asociadas-img-top" alt="logo3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card marcas-asociadas">
                        <img src="../../../assets/images/logo4.svg" class="card marcas-asociadas-img-top" alt="logo4">
                    </div>
                </div>
                <div class="col-4">
                    <div class="card marcas-asociadas">
                        <img src="../../../assets/images/logo5.svg" class="card marcas-asociadas-img-top" alt="logo5">
                    </div>
                </div>
                <div class="col-4">
                    <div class="card marcas-asociadas">
                        <img src="../../../assets/images/logo4.svg" class="card-img-top" alt="logo6">
                    </div>
                </div>
            </div>
            <div id="div-boton-ver-mas">
                <button type="button" id="boton-ver-mas" class="btn btn-primary">Ver más</button>
            </div>
        </div>
    </div>
</div>
<div id="seccion6"> 
    <div id="invitacion-motoristas">
        <h2 id="seccion6-titulo">¡Sé parte de nuestra<br>familia de repartidores<br>Gala! 
        </h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="container-fluid">
                        <div class="row">
                            <p style="padding-top: 20px;" class="texto-seccion6">¿Ya eres un repartidor aprobado?</p>
                            <button type="button" class="btn btn-primary botones-seccion4">Inicia Sesión</button>
                        </div>
                        <div class="row">
                            <p style="padding-top: 25px;" class="texto-seccion6">O si no crea una</p>
                            <button type="button" class="btn btn-primary botones-seccion4">Regístrate</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img style="margin-top: 40px;
                    margin-left: 15px;" src="../../../assets/images/niño-gala.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="seccion7"> 
    <div id="opciones-pre-footer">
        <div>
            <a class="links-pre-footer">Acerca de</a>
        </div>
        <div>
            <img style="margin-right:20px;" src="../../../assets/images/line.svg">
            <a class="links-pre-footer">FAQ</a>
            <img style="margin-left:20px;" src="../../../assets/images/line.svg">
        </div>
        <div>
            <a class="links-pre-footer">Términos y Condiciones</a>
        </div>
    </div>
    <div id="redes-sociales">
        <div id="texto-siguenos">  
            Síguenos en:
        </div>
        <div id="iconos-redes">
            <img class="logos-redes" src="../../../assets/images/Logo Facebook.svg">
            <img class="logos-redes" src="../../../assets/images/Logo Instagram.svg">
            <img class="logos-redes" src="../../../assets/images/LogoTwitter.svg">
        </div>
    </div>
</div>
<div id="seccion8">
    <img style="width:100vw" src="../../../assets/images/Footer-LP.svg">
</div>


<ng-template #modalOpcionesMenu let-modal>
    <div class="modal-body" style="height:100vh!important; width:100vw!important; background-color: #D3E3FC;">
        <img class="close-modal" (click)="modal.dismiss('Cross click')" src="../../../assets/images/xmark-solid.svg">
      
        <button id="boton-iniciar-sesion" type="button" (click)="abrirModal(modalOpcionesInicio)" class="botones-opciones-modal btn btn-primary "><img id="icono-inicio-sesion" src="../../../assets/images/login_black_24dp 1.svg">Iniciar Sesión</button>  
        <button  id="boton-registrarse" type="button" (click)="abrirModal(modalOpcionesRegistro)" class="botones-opciones-modal btn btn-primary"><img id="icono-inicio-sesion" src="../../../assets/images/how_to_reg_black_24dp 1.svg">Registrarse</button>
    </div>
  </ng-template>


  <ng-template #modalOpcionesInicio let-modal>
    <div class="modal-body contenedor-botones">
        <img class="close-modal" style="margin-left: 90%; height: 25px;
        width: 25px;" (click)="modal.dismiss('Cross click')" src="../../../assets/images/xmark-solid.svg">
        <h2 class="titulo-modal">Seleccione tipo de usuario</h2>
        <div class="contenedor-botones">
            <div>
                <button type="button" (click)="verInicioSesion()" class="btn btn-primary botones-seccion4 botones-regis-inicio">Cliente</button>
            </div>
            <div>
                <button type="button" style="margin-bottom: 30px;" class="btn btn-primary botones-seccion4 botones-regis-inicio">Motorista</button>
            </div>
        </div>
    </div>
  </ng-template>


  <ng-template #modalOpcionesRegistro let-modal>
    <div class="modal-body">
        <img class="close-modal" style="margin-left: 90%; height: 25px;
        width: 25px;" (click)="modal.dismiss('Cross click')" src="../../../assets/images/xmark-solid.svg">
        <h2 class="titulo-modal">Seleccione tipo de usuario</h2>

        <div class="contenedor-botones">
            <div>
                <button type="button" (click)="verRegistroClientes()" class="btn btn-primary botones-seccion4 botones-regis-inicio">Cliente</button>
            </div>
            <div>
                <button type="button" style="margin-bottom: 30px;" class="btn btn-primary botones-seccion4 botones-regis-inicio">Motorista</button>
            </div>
        </div>
    </div>
  </ng-template>











