<app-encabezado></app-encabezado>
<div class="componente-mis-compras container">
    <div class="row" style="padding-right: 15px; padding-left: 15px; padding-top: 20px;">
        <div class="col-12 div-titulo">
            <img class="icono-mis-compras" style="width: 50px;" src="../../../assets/images/shopping-bag-svgrepo-com.svg">
            <span style="margin-left: 10px;">Mis compras</span>
        </div>
        <div class="row">

        </div>
        <div class="col-6">

        </div>

        <div class="col-6"> 
    
        </div>

        <div class="lista-compras">
            <div *ngFor="let orden of ordenesCliente" class="card my-cards" (click)="detalleCompra(orden)">
                <div class="card-body my-card-body">
                    <div class="row">
                        <div class="col-3 columnas-cards" style="align-self:center">
                            <p class="letras-cards" style=" margin-left: 15px;">Orden No. {{orden.numOrden}}</p>
                        </div>
                        <div class="col-5 columnas-cards" style="align-self: center;">
                            <img class="iconos-estado" src="../../../assets/images/Vector (3).svg">
                            <span class="letras-cards"> {{(orden.createdAt).substring(0,10)}}</span>
                        </div>
                        <div class="col-4 columnas-cards" style="align-self:center; font-weight: 700; color: #00887A;">
                            {{orden.estado}}
                        </div> 
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<app-footer></app-footer>

