<div class="back-registro" style="height: 1300px;">
    <div class="d-flex estructura" >
        <img class="pb-2 size-logo" src="../../../assets/images/LogoFinal.svg" alt="">
        <h2 class="text-white" style="margin: 0%;"> Registro </h2>
        <span style="color: white;"> Clientes </span>
        <div class="text-center mt-2" style="font-size: 13px;">
            <span style="color: white; margin: 0;"> Empieza a hacer tus <br> pedidos con nosotros</span>    
        </div>
        
        <div id="inputs-area" class="margen">
            <form [formGroup]="formularioRegistro" (submit)="registrarse()">

                <div class="mb-2">
                    <span class="text-inputs">Nombre <span style="color: red;">*</span></span>
                    <input formControlName="nombre" class="form-control  input-registro" type="text" required placeholder="Escribe aquí..." aria-label="default input example" autofocus>
                    <span class="row msj-error" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">El campo es obligatorio</span>
                    <span class="row msj-exito" *ngIf="!nombre?.invalid ">Válido</span>
                </div>

                <div class="mb-2">
                    <span class="text-inputs">Apellido <span style="color: red;">*</span></span>
                    <input formControlName="apellido" class="form-control mb-2 input-registro" type="text" required placeholder="Escribe aquí..." aria-label="default input example">
                    <span class="row msj-error" *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)">El campo es obligatorio</span>
                    <span class="row msj-exito" *ngIf="!apellido?.invalid ">Válido</span>
                </div>

                <div class="mb-2">
                    <span class="text-inputs">Fecha  de nacimiento <span style="color: red;">*</span></span>
                    <input formControlName="nacimiento" class="form-control mb-2 input-registro"  type="date" min="1870-01-01">
                    <span class="row msj-error" *ngIf="nacimiento?.invalid && (nacimiento?.dirty || nacimiento?.touched)">El campo es obligatorio</span>
                    <span class="row msj-exito" *ngIf="!nacimiento?.invalid ">Válido</span>
                </div>

                <div class="mb-2">
                    <span class="text-inputs">Direccion <span style="color: red;">*</span></span>
                    <input formControlName="direccion" class="form-control mb-2 input-registro" type="text" required placeholder="Escribe aquí..." aria-label="default input example">
                    <span class="row msj-error" *ngIf="direccion?.invalid && (direccion?.dirty || direccion?.touched)">El campo es obligatorio</span>
                    <span class="row msj-exito" *ngIf="!direccion?.invalid">Válido</span>
                </div>


                <div class="mb-2">
                    <span class="text-inputs">Genero <span style="color: red;">*</span></span>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-check">
                                    <input formControlName="genero" class="form-check-input" type="radio" value="F" id="generoFemenino" name="genero">
                                    <label class="form-check-label" for="generoFemenino">
                                        F
                                    </label>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="form-check">
                                    <input formControlName="genero" class="form-check-input" type="radio" value="M" id="generoMasculino" name="genero">
                                    <label class="form-check-label" for="generoMasculino">
                                        M
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="row msj-error" *ngIf="genero?.invalid && (genero?.dirty || genero?.touched)">El campo es obligatorio</span>
                    <span class="row msj-exito" *ngIf="!genero?.invalid">Válido</span>
                </div>


                <div class="mb-2">
                    <span class="text-inputs">Correo <span style="color: red;">*</span></span>
                    <input formControlName="correo" class="form-control mb-2 input-registro" type="text" required placeholder="Escribe aquí..." aria-label="default input example">
                    <span class="row msj-error" *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)">El campo es obligatorio</span>
                    <span class="row msj-exito" *ngIf="!correo?.invalid ">Válido</span>
                </div>
                
                <div class="mb-2">
                    <span class="text-inputs">Contraseña <span style="color: red;">*</span></span>
                    <input formControlName="contrasenia" class="form-control mb-2 input-registro" type="password" required placeholder="Escribe aquí..." aria-label="default input example">
                    <span class="row msj-error" *ngIf="!(contrasenia?.dirty || contrasenia?.touched)">El campo es obligatorio</span>
                    <span class="row msj-error" *ngIf="contrasenia?.invalid &&(contrasenia?.dirty || contrasenia?.touched)">La contraseña no es válida.<br> Deben ser mínimo 8 caracteres.<br> Se debe incluir letras minúsculas, mayúsculas, y letras.</span>
                    <span class="row msj-exito" *ngIf="!contrasenia?.invalid ">Válido</span>
                    
                </div>
                
                <div class="mb-2">
                    <span class="text-inputs">Confirmar contraseña <span style="color: red;">*</span></span>
                    <input formControlName="confirmContrasenia" class="form-control mb-2 input-registro" type="password" required placeholder="Escribe aquí..." aria-label="default input example">
                    <span class="row msj-error" *ngIf="confirmContrasenia?.invalid && (confirmContrasenia?.dirty || confirmContrasenia?.touched)">El campo es obligatorio</span>
                    <span class="row msj-error" *ngIf="contrasenia?.valid && (contrasenia?.value != confirmContrasenia?.value)" >Las contraseñas no son iguales</span>
                </div>  
                
               
                <button [disabled]="formularioRegistro.invalid || !(contrasenia?.value === confirmContrasenia?.value)" type="submit" style="margin-top:50px!important;" class="btn btn-primary mt-3 mb-2" >Regístrate</button>
            </form>
        </div>
    </div>
</div>



<ng-template #modalResultadoRegistro let-modal>
    <div class="modal-body">
        <img class="close-modal" style="margin-left: 90%; height: 25px;
        width: 25px;" (click)="modal.dismiss('Cross click')" src="../../../assets/images/xmark-solid.svg">
        <div class="container-fluid">
            <div class="row" style="text-align:center">
                <img style="margin:auto" class="" src={{rutaLogoModal}}>
            </div>
        </div>
       
        <h2 class="titulo-modal">{{textoModal}}</h2>
        <div class="contenedor-botones">
            <button  id="boton-aceptar" (click)="aceptar()" type="button" class="btn btn-primary" >Aceptar</button>
        </div>
    </div>
</ng-template>


