<nav class="navbar sticky-top navbar-light bg-light this-nav">
    <div class="nav-container">
        <div>
            <img class="foto-perfil rounded-circle" src="../../../assets/images/perfilMujer.jpeg" alt="imagen-perfil">
        </div>
        <div style="align-self: center;">
            <img class="" src="../../../assets/images/cart1.svg">
            <span class="numero-carrito">{{numeroProductosCarrito}}</span>
        </div>
        <div style="align-self: center;">
            <img class="brand" src="../../../assets/images/Gala.svg" alt="Marca">
        </div>
        <div>
            <img class="wh-logo" src="../../../assets/images/LogoFinal.svg" alt="LogoFinal">
        </div>
    </div>
</nav>