<app-encabezado></app-encabezado>
<div class="container-fluclass" style="width: 90%;
margin-left: auto; margin-right: auto; margin-bottom: 70px;">
    <div class="row" style="">
        <div class="scrolling-wrapper ::-webkit-scrollbar">
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Juguetes</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Hogar</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Electrodomésticos</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Belleza</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Tecnología</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Moda</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Belleza</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Belleza</h2></div>
            <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Belleza</h2></div>
          </div>
    </div>
    <div class="row" style="margin-top:25px">
        <div class="col-6">
            <div class="card my-cards" (click)="verDetalleEmpresa(1)">
                <div class="card-body my-card-body">
                    <div class="imagenes-empresas">
                        <img src="../../../assets/images/empresa1.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Diunsa</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verDetalleEmpresa(2)">
                <div class="card-body my-card-body">
                    <div class="imagenes-empresas">
                        <img src="../../../assets/images/empresa4.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Elektra</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card my-cards" (click)="verDetalleEmpresa(3)">
                <div class="card-body my-card-body">
                    <div class="imagenes-empresas">
                        <img src="../../../assets/images/empresa3.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">Amazon</p>
                    </div>
                </div>
            </div>
            <div class="card my-cards" (click)="verDetalleEmpresa(4)">
                <div class="card-body my-card-body">
                    <div class="imagenes-empresas">
                        <img src="../../../assets/images/empresa2.svg" class="">
                    </div>
                    <div class="letras-cards">
                        <p style="margin-top:8px">PricesSmart</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>