.my-cards {
    width: 100%!important;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 50px;
}

.letras-cards {  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #00887A;
}

.my-card-body {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    padding-left: 10px;
    padding-right: 10px;
}

.iconos-cards {
    align-self: center;
    height: 55px;
    width: 55px;
}

.titulo-categorias {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #77A6F7;
    margin-left: 6%;
}

.nav-categorias-empresas {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}


::-webkit-scrollbar {
    display: none;
}
  

.cards-nav {
    display: inline-block!important;
    width: fit-content!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.cards-nav-letra {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 136, 122, 0.4);
    padding-bottom: 5px;
}

.cards-nav-letra:hover {
    color: #00887A;
    border-bottom: 3px solid #00887A;
    font-size:15.5px;
}

.imagenes-empresas {
    align-self: center;
    height: 55px;
}

