<div class="container-fluclass" style="width: 90%;
margin-left: auto; margin-right: auto; margin-bottom: 70px;">
   <div class="row">
       <div class="col">
           <img class="svg-atras" src="../../../assets/images/atras.svg">
           <p class="categoria-atras">Hogar</p>
       </div>
   </div>
   <div class="row" style="">
    <div class="scrolling-wrapper ::-webkit-scrollbar">
        <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Diunsa</h2></div>
        <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Elektra</h2></div>
        <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">Amazon</h2></div>
        <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">PricesSmart</h2></div>
        <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">PricesSmart</h2></div>
        <div class="scrolling-wrapper-fexbox card cards-nav" style=" border: 1px solid rgba(0,0,0,0)"><h2 class="cards-nav-letra">PricesSmart</h2></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card detalle-empresa">
            <div class="card-body cuerpo-card">
            <img src="../../../assets/images/empresa4.svg" class="card-img-top" alt="...">
              <div class="calificacion">
                    <img src="../../../assets/images/est-llena.svg">
                    <img src="../../../assets/images/est-llena.svg">
                    <img src="../../../assets/images/est-mitad.svg">
                    <img src="../../../assets/images/est-vacia.svg">
                    <img src="../../../assets/images/est-vacia.svg">
              </div>
              <p class="texto-card-empresa">Hogar, electrodomésticos y mucho <br>más...</p>
              <div>
                <button class="boton-ver-productos">Ver Productos</button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>